{{ block content }}
{% load static %}
<!-- ==================================================================== -->
<!-- WeekPreview.html - Phase IV Token Market Interface                   -->
<!-- ==================================================================== -->

<!-- =============================== HEAD =============================== -->
<head>
    <link href="{% static 'common.css' %}" rel="stylesheet">
    <link href="{% static 'commonIV.css' %}" rel="stylesheet">
</head>

<!-- ======================== Week Preview HTML ======================== -->
<h1 class="title-highlight">Phase IV - Week {{current_week}} - Preview</h1>

<div class="p-20">
    <p>Welcome to <strong>Phase IV - Reduced Token allocation</strong>. You now have 20 % less Token for you commuting choice available.</p>

    <!-- Token preview table  -->
    {% include 'html_chunks/token_preview.html' %}

    <!-- Budget overview -->
    {% include 'html_chunks/budget_summary.html' %}
    <br>

    <!-- Submit button -->
    <form method="post">
         <button type="submit" class="button">Continue to week {{ current_week }}</button>
    </form>
</div>

{{ endblock }}