{{ block content }}
{% load static %}
<!-- ==================================================================== -->
<!-- Choice.html - Phase IV Travel Choice                                 -->
<!-- ==================================================================== -->

<!-- =============================== HEAD =============================== -->
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'common.css' %}" rel="stylesheet">
    <link href="{% static 'commonI.css' %}" rel="stylesheet">
</head>

<!-- ======================== CHOICE HTML ======================== -->
<h1 class="title-highlight"> Phase I - Week {{ week }} of {{ max_week }} - Day {{ day_in_week }} of {{ num_trips }} </h1>
    {% include 'base_choice.html' %}

{{ endblock }}