<!-- ========== Token Preview Summary ========== -->
<!-- for the following pages: Choice, Market -->
<table class="mt-20" style="width: 100%; border-collapse: collapse">
    <tr class="token-header center">
        <th style="width: 13%"">Day</th>
        <th style="width: 72%">Tour</th>
        <th style="width: 15%">
            <div class="table-align">
                Default Mode Token
                <span class="tooltip-icon">
                    <span class="info-circle">i</span>
                    <span class="tooltip-text">These Token show how many Token you need for the <strong>same modes</strong> of transportation as in your usual commuting week.</span>
                </span>
            </div>
        </th>
    </tr>

    {% for trip in preview_data %}
    <tr>
        <td>{{ trip.day }}</td>
        <td>
            {% if trip.mode == "no_commute" %}
                <em>No commute</em>
            {% else %}
                {% include 'html_chunks/tour_display.html' %}
            {% endif %}
        </td>
        <td style="text-align: center;">{{ trip.base_token }}</td>
    </tr>
    {% endfor %}


    <tr class="table-total">
        <td colspan="2" style="text-align: right;">Total:</td>
        <td style="text-align: center;">{{ total_base_token }}</td>
    </tr>
</table>