<!-- ========== Tour short ========== -->
<!-- for the following pages: Market, Week Preview -->

{{ trip.morning_origin }} <img src="/static/icons/home.png" alt="home" class="icon">

{% for stop in trip.morning_stops %}
    <span class="arrow">➜</span> {{ stop.0 }}
    {% if stop.1 == "coffee" %}
        &nbsp;<img src="/static/icons/coffee.png" alt="coffee" class="icon">
    {% elif stop.1 == "sport" %}
        &nbsp;<img src="/static/icons/sport.png" alt="sport" class="icon">
    {% elif stop.1 == "groceries" %}
        &nbsp;<img src="/static/icons/groceries.png" alt="groceries" class="icon">
    {% elif stop.1 == "child" %}
        &nbsp;<img src="/static/icons/child.png" alt="child" class="icon">
    {% else %}
        &nbsp;<img src="/static/icons/shopping.png" alt="shopping" class="icon">
    {% endif %}
{% endfor %}
<span class="arrow">➜</span> {{ trip.morning_destination }}&nbsp;<img src="/static/icons/work.png" alt="work" class="icon">

{% if page_name == 'choice' %}
    <br>&nbsp;&#8658;&nbsp;<strong>Arrival work:</strong> {{ work_arrival }} <br>
    <br>
    {{ trip.morning_destination }}&nbsp;<img src="/static/icons/work.png" alt="work" class="icon">
{% endif %}

{% for stop in trip.evening_stops %}  
    <span class="arrow">➜</span> {{ stop.0 }}
    {% if stop.1 == "coffee" %}
        &nbsp;<img src="/static/icons/coffee.png" alt="coffee" class="icon">
    {% elif stop.1 == "sport" %}
        &nbsp;<img src="/static/icons/sport.png" alt="sport" class="icon">
    {% elif stop.1 == "groceries" %}
        &nbsp;<img src="/static/icons/groceries.png" alt="groceries" class="icon">
    {% elif stop.1 == "child" %}
        &nbsp;<img src="/static/icons/child.png" alt="child" class="icon">
    {% else %}
        &nbsp;<img src="/static/icons/shopping.png" alt="shopping" class="icon">
    {% endif %}
{% endfor %}
<span class="arrow">➜</span> {{ trip.morning_origin }}&nbsp;<img src="/static/icons/home.png" alt="home" class="icon"> 

{% if page_name == 'choice' %}
    <br> &nbsp;&#8658;&nbsp; <strong>Arrival home:</strong> {{ home_arrival }} <br>
    <br> <img src="{% static 'icons/distance.png' %}" alt="distance" style="width: 16px"> <strong>Total Distance:</strong> {{ car_distance }} km
{% endif %}
