{{ block content }}
{% load static %}
<!-- ==================================================================== -->
<!-- WeekPreview.html - Test Phase I Token Market Interface                  -->
<!-- ==================================================================== -->

<!-- =============================== HEAD =============================== -->
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'common.css' %}" rel="stylesheet">
    <link href="{% static 'commonintro.css' %}" rel="stylesheet">
</head>

<!-- ======================== Week Preview HTML ======================== -->
<h1 class="title-highlight">Test Phase I - Week {{current_week}} - Preview</h1>

<div class="p-20">
    In the following, you will do one <strong>test week</strong>. Below you find a preview of all trips. 
    <strong>Default Mode Token</strong> represent the amount of tokens you need for the mode you stated in the Travel Diary.
    <strong>Default Mode</strong> indicates which commuting mode you stated in your Travel Diary.

    <!-- Token preview table  -->
    {% include 'html_chunks/token_preview.html' %}

    <!-- Budget overview -->
    {% include 'html_chunks/budget_summary.html' %}
    <br>

    <!-- Submit button -->
    <form method="post">
         <button type="submit" class="button">Continue to test week {{ current_week }}</button>
    </form>
</div>

{{ endblock }}